src/main/mule/implimentation/unlock-implimentation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="unlock-implimentationFlow" doc:id="dec262f2-f57d-4d94-be48-96f38c81bde1" >
		<choice doc:name="Choice" doc:id="22dd61d8-738a-4dc1-a3f1-548e0d8077ef" >
			<when expression="sizeOf(payload) != 0">
				<choice doc:name="Choice" doc:id="613972cf-9a03-4a6d-a635-8f48a302a2a4" >
					<when expression='#[vars.opData.accountStatus != "Active"]'>
						<db:update doc:name="Update" doc:id="d3721ed2-b50a-4719-abc1-c0c3b6546669" config-ref="Database_Config">
							<db:sql ><![CDATA[UPDATE  vivek.bank_transactions
SET accountStatus = "Active", wrongPin = 0
WHERE custAccNum = :custAccNum;]]></db:sql>
							<db:input-parameters ><![CDATA[#[{
	custAccNum: vars.opData.custAccNum
}]]]></db:input-parameters>
						</db:update>
						<ee:transform doc:name="Transform Message" doc:id="1fd78b86-4069-44a3-b156-3c97b5360cf5" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
" your account is Active"]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="Transform Message" doc:id="7223677a-6cb1-4340-8a6c-81104944f6a2" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"message" :  " Account number " ++ vars.inpData.accountNum ++ " Your Account account Unlocked "]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="68552040-384d-4cfe-aa5c-ca1965ff82b8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"message" :  " Account number " ++ vars.inpData.accountNum ++ " does not exist . Enter Valid Details "]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
